.faq_accordion {
    margin-bottom: 65px;
}

.faq_accordion .card {
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    margin-bottom: 10px;
}

.faq_accordion .card-header button {
    border: 0;
    background: none;
    font-size: 20px;
    font-family: ProximaNova;
    padding: 25px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #D0D0D0;
    cursor: pointer;
}

.faq_accordion .card-header button {
    border: 0;
    background: none;
    font-size: 20px;
    font-family: ProximaNova;
    padding: 25px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #D0D0D0;
}

.faq_accordion .card-header button i {
    float: right;
    transition: all .3s;
}

.faq_accordion .card-header button.collapsed i.fa-chevron-up {
    display: none;
}

.faq_accordion .card-header button i.fa-chevron-up {
    display: block;
}

.faq_accordion .card-header button.collapsed i.fa-chevron-down {
    display: block;
}

.faq_accordion .card-header button i.fa-chevron-down {
    display: none;
}

.collapse.show {
    display: block;
}

.collapse {
    display: none;
}

.card-body {
    padding: 20px;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}

@media (max-width:450px) {
    .faq_accordion .card-header button {
        font-size: 16px;
        padding: 15px;
    }
    .accordion_section {
        margin: 0;
    }
}